.error_message{
    color: #911;
}

.center_container{
    padding: 10px;
}

label, input, button{
    display: block;
    margin: 5px auto;
}

button{
    margin: auto;
}

p.link{
    font-size: 0.8em;
}
