h1{
    font-size: 3em;
}

.error_message{
    color: #911;
}

.center_container{
    padding: 10px;
}

label, input, button{
    font-size: 1.2em;
    display: block;
    margin: 5px auto;
}

input{
    border-radius: 5px;
    border: none;
}

button{
    margin: auto;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

p.link{
    font-size: 0.8em;
}
