.account_container{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #444;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 2px solid #555;
    overflow: hidden;
}

.account_button{
    display: block;
    padding: 0;
    margin: 0;
}

.account_options{
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.account_button, .account_options li{
    padding: 8px;
}

.account_options li{
    cursor: pointer;
}

.account_button:hover, .account_options li:hover{
    background: #555;
}

.account_container:hover .account_options{
    height: auto;
}

h1{
    margin: 10px;
}

#ul_messages{
    text-align: left;
    margin: 10px;
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    width: 80vw;
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    background: #444;
    display: flex;
    flex-direction: column;
}

li.message{
    padding: 0px 5px;
    padding-bottom: 5px;
}

li.message p{
    padding: 0;
    margin: 0;
}

li.message:hover{
    background: #555;
}

li.message:first-child{
    margin-top: auto;
}

li.message:last-child{
}

::-webkit-scrollbar{
    display: none;
}

.message_sender{
    font-size: 0.8em;
}

.message_content{
    font-size: 1.3em;
}

.message_announcement{
    font-weight: bold;
    text-align: center;
    color: #aaa;
}

.message_bar{
    margin: 10px;
    display: flex;
}

.message_bar *{
    border: none;
    padding: 5px;
    color: #aaa;
    background: #444;
}

.message_bar *:hover{
    background: #555;
}

.message_bar input{
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.message_bar button{
    border-radius: 0 10px 10px 0;
}

.sent_by_me{
    text-align: right;
}
