{% extends "center.html" %}
{% block more_links %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/credentials_input.css')}}" type="text/css" media="all">
{% endblock more_links %}
{% block to_center %}
    <h1>{{title}}</h1>
    <form action="{{action}}" method="POST">
        <label for="username">Username</label>
        <input class="username" name="username">
        <label for="password">Password</label>
        <input class="password" name="password">
        <button class="submit_button">Submit</button>
    </form>
    {% block redirect_link %}
    {% endblock redirect_link %}
    <p class="error_message">{{error_message}}</p>
{% endblock to_center %}
